

<h1 class="display-1 text-center">
 
    <%= @post.title %>

</h1>

<p class="date text-center">
    Submitted <%= time_ago_in_words(@post.created_at) %> ago

</p>
<%if user_signed_in?%>
    <div class="edit-link">
        <%= link_to('EDIT',{:action => 'edit'}) %>

    </div>
<br/>

    <div class="delete-link">

         <%= link_to "DELETE",post_path(@post),
            method: :delete,
            data:{confirm:"ARE YOU SURE?"}%>

    </div> 
<%end%>

<br/>
<p class="body">

    <%=@post.body%>

</p>

<br/>


<% if user_signed_in? %>
<div class="newbutton">

  <a href="/posts/new">

      <button type="button" class="btn btn-primary">NEW POST</button>
      
  </a>
</div>
<% end %>
  <%= render "comments/commentsdisplay",comment: @comment%>

  <%= render "comments/commentform",comment: @comment%>

